build/
dist/

.git/
.github/
.venv/
.tox/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

**/__pycache__/
.mypy_cache/

**/third_party/bin
*.ma

.cache/
.python-version
.data
.DS_Store
.idea/
.vscode/

gpustack-ui/
docs/
lmzj-docs/
tests/
